/*
 * Clean Blog Theme for Hexo
 * Based on the StartBootstrap Clean Blog theme
 */
body {
  font-family: 'Lora', 'Times New Roman', serif;
  font-size: 18px;
  color: #212529;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  font-weight: 800;
}
p {
  line-height: 1.7;
  margin: 30px 0;
}
p a {
  text-decoration: underline;
  color: #212529;
}
p a:hover {
  color: #0085a1;
}
.page-heading h1,
.post-heading h1,
.site-heading h1 {
  font-size: 50px;
  margin-top: 0;
  margin-bottom: 35px;
}
.page-heading .subheading,
.post-heading .subheading,
.site-heading .subheading,
.page-heading .meta,
.post-heading .meta,
.site-heading .meta {
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  font-size: 22px;
  font-weight: 300;
  line-height: 1.1;
  display: block;
  margin: 10px 0 0 0;
  color: #6c757d;
}
@media only screen and (min-width: 768px) {
  .post-heading h1,
  .page-heading h1,
  .site-heading h1 {
    font-size: 80px;
  }
}
#mainNav {
  background-color: transparent;
  border-bottom: 1px solid #e9ecef;
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}
#mainNav .navbar-brand {
  font-weight: 800;
  color: #343a40;
}
#mainNav .navbar-toggler {
  font-size: 12px;
  font-weight: 800;
  padding: 13px;
  text-transform: uppercase;
  color: #343a40;
}
#mainNav .navbar-nav > li.nav-item > a {
  font-size: 12px;
  font-weight: 800;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #343a40;
}
#mainNav .navbar-nav > li.nav-item > a:hover {
  color: #0085a1;
}
@media only screen and (min-width: 992px) {
  #mainNav {
    background-color: transparent;
    border-bottom: 1px solid transparent;
  }
  #mainNav .navbar-brand {
    color: #fff;
  }
  #mainNav .navbar-brand:hover {
    color: rgba(255,255,255,0.8);
  }
  #mainNav .navbar-nav > li.nav-item > a {
    color: #fff;
  }
  #mainNav .navbar-nav > li.nav-item > a:hover {
    color: rgba(255,255,255,0.8);
  }
}
#mainNav.is-fixed {
  position: fixed;
  top: -77px;
  background-color: rgba(255,255,255,0.9);
  border-bottom: 1px solid #e9ecef;
  transform: translateY(77px);
}
#mainNav.is-visible {
  transform: translateY(0);
}
.masthead {
  position: relative;
  background: color #adb5bd;
  background: no-repeat center center;
  background-attachment: scroll;
  background-size: cover;
  padding: 200px 0 150px;
}
.masthead .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #212529;
  opacity: 0.5;
}
.masthead .page-heading,
.masthead .post-heading,
.masthead .site-heading {
  text-align: center;
  color: #fff;
}
@media only screen and (min-width: 768px) {
  .masthead {
    padding: 200px 0;
  }
}
.post-preview a {
  text-decoration: none;
  color: #212529;
}
.post-preview a:hover {
  text-decoration: none;
  color: #0085a1;
}
.post-preview a:hover .post-title {
  color: #0085a1;
}
.post-preview .post-title {
  font-size: 30px;
  font-weight: 700;
  margin-top: 30px;
  margin-bottom: 10px;
}
.post-preview .post-subtitle {
  font-weight: 300;
  margin: 0 0 10px;
}
.post-preview .post-meta {
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  font-size: 18px;
  font-style: italic;
  margin-top: 0;
  color: #6c757d;
}
.post-preview .post-meta a {
  text-decoration: none;
  color: #6c757d;
}
.post-preview .post-meta a:hover {
  color: #0085a1;
  text-decoration: underline;
}
@media only screen and (min-width: 768px) {
  .post-preview .post-title {
    font-size: 36px;
  }
}
footer {
  padding: 50px 0 65px;
}
footer .list-inline {
  margin: 0;
  padding: 0;
}
footer .copyright {
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  font-size: 14px;
  margin-bottom: 0;
  text-align: center;
}
#contactForm .floating-label-form-group {
  border-bottom: 1px solid #e9ecef;
}
#contactForm .floating-label-form-group input,
#contactForm .floating-label-form-group textarea {
  font-size: 1.5em;
  position: relative;
  z-index: 1;
  padding: 0;
  resize: none;
  border: none;
  border-radius: 0;
  background: none;
  box-shadow: none !important;
  font-family: 'Lora', 'Times New Roman', serif;
}
.btn {
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  font-size: 14px;
  font-weight: 800;
  letter-spacing: 1px;
  border-radius: 0;
  padding: 15px 25px;
  text-transform: uppercase;
}
.btn-primary {
  background-color: #0085a1;
  border-color: #0085a1;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
  color: #fff;
  background-color: #007b95;
  border-color: #007b95;
}
.pager {
  list-style: none;
  padding: 0;
  margin: 20px 0;
  text-align: center;
}
.pager li {
  display: inline;
}
.pager li a,
.pager li span {
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  font-size: 14px;
  font-weight: 800;
  letter-spacing: 1px;
  padding: 15px 25px;
  text-transform: uppercase;
  background-color: #fff;
  border-radius: 0;
}
